.glos-term {
  border-bottom: 3px orange dotted;
  cursor: pointer;
}

.ui-widget-content {
  background-color: #0d7978;
  color: #fff;
  font-size: 1rem;
  line-height: 1.2em;
  margin: 0;
  padding: 0;
  font-weight: 400;
}
